[Unit]
Description=Template application for openbmc
StopWhenUnneeded=false

[Service]
Restart=always
RestartSec=5
ExecStart=@INSTALL_PREFIX@/bin/template_app

[Install]
WantedBy=multi-user.target
