[Unit]
Description=CPER logger
StopWhenUnneeded=false

[Service]
Restart=always
RestartSec=5

# Old versions of cper logger wrote files to disk.
# Clean them up.  Can be removed for non gb200 platforms.
ExecStartPre=rm -rf /var/cper

ExecStart=@INSTALL_PREFIX@/bin/cper-logger
SyslogIdentifier=cper-logger
Type=dbus
BusName=xyz.openbmc_project.CPERLogger

[Install]
WantedBy=multi-user.target
